@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    /* para descobrir qual box está estrapolando
    
    outline: 1px solid red; 
    
    */
}

body{
    margin: 0px;
    height: 80vh;
}

header{
    background-color: #13b3f2;
}

div#menu{
    padding: 5px 0px 0px 5px;
}
div#logo{
    position: absolute;
    width: 100%;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    top: 0px;
}

section#slide-conteiner{
    width: 100%;
    height: 50%;
    margin: 0px;
    overflow: hidden;
}

div#slide-content{
    width: 400%;
    height: 100%;
    display: flex;
}

div input{
    display: none;
}

.slide-box{
    width: 25%;
    height: 100%;
}

div.slide-box img.img-desktop{ 
    width: 100%;
    height: 100%;
}

div#nav-auto{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 42%;
}

.auto-btn1, .auto-btn2{
    border: 2.5px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 15px;
    margin-left: 10px;
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.459);
    background-color: rgb(175, 172, 165);
}

div#nav-manual{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 42%;
}

.manual-btn{
    border: 2.5px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 15px;
    margin-left: 10px;
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.459);
}

.manual-btn:hover{
    background-color: rgba(255, 255, 255, 0.904);
    transition: 0.5s;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
    transition: 1s;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
    transition: 1s;
}

#radio1:checked ~ #nav-auto .auto-btn1 {
    background-color: rgba(255, 255, 255, 0.911);
}

#radio2:checked ~ #nav-auto .auto-btn2{
    background-color: rgba(255, 255, 255, 0.918);
}

main{
    height: auto;
}

section#barra{
    background-color: #50E2F2;
    width: 100%;
    height: 30px;
    margin: 0px;
}

section#conjunto-botoes{
    height: 100%;
}

div.botoes{
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
}

.botao{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px;
}

div.um{
    padding-bottom: 30px;
}

div.botoes .um{
    margin-right: 25px;
}

div.botoes .dois{
    margin-left: 25px;
}

div.botoes .tres{
    margin-right: 25px;
}

div.botoes .quarto{
    margin-left: 25px;
}

div .txt-botao{
    padding-bottom: 5px;
}

section#contato{
    background-image: linear-gradient(to bottom,#54592fd3, #54592f);
    padding: 10px;
    display: flex;
    height: 200px;

}

div#logo-footer{
    padding-top: 1%;
    padding-left: 1%;
}

section#contato .dois{
    padding-top: 4%;
    padding-left: 5%;
}

section#contato .dois #logo-insta{
    display: flex;
}

section#contato .dois #logo-insta a{
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85em;
}

section#contato .dois #logo-insta a p:hover{
    text-decoration: underline;
}

section #fale-conosco{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-bottom: 20px;
}

section #fale-conosco a{
    text-decoration: none;
    color: white;
}

section #fale-conosco a:hover{
    text-decoration: underline;
}

footer{
    background-color: #54592f;
}

footer p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: white;
    padding-bottom: 5px;
}

footer span{
    color: rgb(98, 145, 199);
}